.App {
  /* text-align: center; */
}

.cabinet-container {
  text-align: center;
  border-radius: 6px;
  background-color: #23337a;
  display: inline-block;
  flex-direction: column;
}

.cabinet {
  border-radius: 6px;
  border-style: solid;
  border-color: #23337a;
  border-width: 5px 24px 24px;
  background-color: black;
}

.logo {
  border-radius: 6px;
  display: block;
  margin: 0;
}

.cabinet-canvas {
  border-radius: 20p;
}