@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

#root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header {
  text-align: center;
}

.cabinet-container {
  display: flex;
  flex-direction: row;
}

.cabinet-screen-container {
  height: 356px;
  width: 324px;
  border-radius: 6px;
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.cabinet-logo {
  text-align: center;
  border-width: 5px 5px 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-style: solid;
  border-color: #23337a;
  margin: 0;
  padding: 0;
  background-color: #23337a;
}

.cabinet-screen {
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-style: solid;
  border-color: #23337a;
  border-width: 0px 7px 7px;
  background-color: black;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;  margin: 5px;
}

.greyed-out {
  opacity: 0.5;
}

.app-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.cabinet-window {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 380px;
}

.cabinet-container {
  margin: 14px;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.cabinet-control-panel-container {
  margin-bottom: auto;
}

.diag-window {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 500px;
}

.diag-container {
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.diag-control-panel-container {
  margin-bottom: auto;
}

.diag-running-callout {
  text-align: center;
  margin-bottom: 50px;
}

.diag-table-container {
  display: flex;
  flex-direction: column;
  margin-left:5px;
  margin-right: 5px;
}

.trace-container {
  display: flex;
  flex-direction: row;
}

.trace-checkbox-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: 9px;
  padding-top: 11px;
}

.diag-table {
  font-family: courier;
  font-size: 9;
  border-collapse: collapse;
}

.diag-table thead {
  background-color: #24337a;
  color: #efe80d;
}

.diag-table th, td {
  border: 1px solid #999;
  padding-left: 2px;
  padding-right: 2px;
}

.diag-table th, tfoot {
  text-align: center;
}

.diag-table td {
  background-color: black;
  color: white;
  text-align: left;
}

.trace-table {
  white-space: pre;
  width: 275px;
}

.scrollable {
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}
