.App {
  text-align: center;
}

/* The laptop with borders */
.screen {
  border-radius: 6px;
  border-style: solid;
  border-color: gray;
  border-width: 14px 14px 14px;
  background-color: black;
}
.screen-container {
  flex-direction: column;
}

