/* * { 
  margin: 0; 
  padding: 0; 
  box-sizing:border-box; 
} */

table.diagnosticTable {
  font-family: courier;
  font-size: 12px;
  background-color: #FFFFFF;
  border-collapse: collapse;
  border-width: 1px;
  border-color: #000000;
  border-style: solid;
  color: #000000;

}

div.panel {
  margin-right: 10px;
}

table.diagnosticTable thead {
  background-color: #7EA8F8;
  border-bottom: 1px solid #000000;  
}

table.diagnosticTable td {
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  padding-left: 3px;
  padding-right: 3px;
}

div.diagnosticsPanel {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: left; 
  margin-bottom: 20px;
}

div.executionPanel {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: left; 
}


div.outputPanel {
  margin-right: 10px;
  white-space: pre;
  font-family: courier;
  font-size: 12px;
  padding: 0px;
  border: solid;
  overflow-y: auto;
  overflow-x: hidden;
  height: 700px;
  width: 350px;
}


p.optionsPanel {
  margin: 0px;
  font-family: courier;
}

p {
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 12px;
  font-weight: bold;
}

button {
  font-size: 12px;
}

input {
  border: solid 1px;
}

.controlPanel {
  border: solid 1px;
  padding: 5px;
  font-size: 14px;
  font-family: Arial;
}

.checkbox {
  font-size: 12px;
}